@model Gruppenfoto.Web.ViewModels.Event.IndexViewModel

<h1>
    Event @Model.SasToken.EventId <small></small>
</h1>

<p>
    <input type="file" id="file" name="file" />
    <progress value="0" max="100" style="display: none;"></progress>
</p>

<hr />

<div id="pictures">

</div>

@section scripts {

    <script>
        function loadPictures() {
            $.ajax({
                crossDomain: true,
                dataType: "xml",
                method: "GET",
                url: "@Html.Raw(Model.SasToken.SasListUrl)"
            }).done(function (data) {
                var div = $("#pictures");
                div.html("");

                var count = 0;
                $(data).find("EnumerationResults>Blobs>Blob").each(function (i, blob) {
                    var filename = $(blob).find("Name").text();
                    if (filename.indexOf("thumbnails-small") === 0) {
                        filename = filename.substring("thumbnails-small/".length);
                        count++;
                        var date = $(blob).find("Properties>Last-Modified").text();

                        var thumbnailContainer = $("<div />").addClass("thumbnail");
                        var thumbnailLink = $("<a />");
                        var thumbnail = $("<img />");
                        thumbnailLink.attr("href", "@Html.Raw(Model.SasToken.ContainerUrl)/" + filename + "@Html.Raw(Model.SasToken.SasQueryString)");
                        thumbnail.attr("src", "@Html.Raw(Model.SasToken.ContainerUrl)/thumbnails-small/" + filename + "@Html.Raw(Model.SasToken.SasQueryString)");
                        thumbnail.attr("title", date);

                        thumbnailLink.append(thumbnail);
                        thumbnailContainer.append(thumbnailLink);
                        div.append(thumbnailContainer);
                    }
                });

                if (count === 0) {
                    $("h1 small").text("Noch keine Fotos");
                } else if (count === 1) {
                    $("h1 small").text("Erst ein Foto");
                } else {
                    $("h1 small").text(count + " Fotos");
                }
            });
        }

        $(document).ready(function () {
            loadPictures();
        });
    </script>

    <script>
        $("#file").change(function () {
            $("#file").hide();
            $("progress").show();

            var currentFilePointer = 0;
            var blockIds = new Array();
            var blockIdPrefix = "block-";
            var bytesUploaded = 0;
            var fileName = guid();

            // read the file and find out how many blocks we would need to split it.
            var selectedFile = $("#file")[0].files[0];
            var maxBlockSize = 256 * 1024;
            if (selectedFile.size < maxBlockSize) {
                maxBlockSize = selectedFile.size;
            }
            var totalBytesRemaining = selectedFile.size;
            var submitUri = "@Html.Raw(Model.SasToken.ContainerUrl)/" + fileName + "@Html.Raw(Model.SasToken.SasQueryString)";
            var reader = new FileReader();
            uploadFileInBlocks();

            reader.onloadend = function (evt) {
                if (evt.target.readyState === FileReader.DONE) { // DONE == 2
                    var uri = submitUri + '&comp=block&blockid=' + blockIds[blockIds.length - 1];
                    var requestData = new Uint8Array(evt.target.result);
                    $.ajax({
                        url: uri,
                        type: "PUT",
                        data: requestData,
                        processData: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('x-ms-blob-type', 'BlockBlob');
                            xhr.setRequestHeader('Content-Length', requestData.length);
                        },
                        success: function () {
                            bytesUploaded += requestData.length;
                            var percentComplete = ((parseFloat(bytesUploaded) / parseFloat(selectedFile.size)) * 100).toFixed(0);
                            $("progress").attr("value", percentComplete);
                            uploadFileInBlocks();
                        },
                        error: function (xhr, desc, err) {
                            alert("onloadend: " + desc + " " + err);
                        }
                    });
                }
            };

            function uploadFileInBlocks() {
                if (totalBytesRemaining > 0) {
                    var fileContent = selectedFile.slice(currentFilePointer, currentFilePointer + maxBlockSize);
                    var blockId = blockIdPrefix + pad(blockIds.length, 6);
                    blockIds.push(btoa(blockId));
                    reader.readAsArrayBuffer(fileContent);
                    currentFilePointer += maxBlockSize;
                    totalBytesRemaining -= maxBlockSize;
                    if (totalBytesRemaining < maxBlockSize) {
                        maxBlockSize = totalBytesRemaining;
                    }
                } else {
                    commitBlockList();
                }
            }

            function commitBlockList() {
                var uri = submitUri + '&comp=blocklist';
                var requestBody = '<?xml version="1.0" encoding="utf-8"?><BlockList>';
                for (var i = 0; i < blockIds.length; i++) {
                    requestBody += '<Latest>' + blockIds[i] + '</Latest>';
                }
                requestBody += '</BlockList>';

                $.ajax({
                    url: uri,
                    type: "PUT",
                    data: requestBody,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x-ms-blob-content-type', selectedFile.type);
                        xhr.setRequestHeader('Content-Length', requestBody.length);
                    },
                    success: function () {
                        renderThumbnails();
                    },
                    error: function (xhr, desc, err) {
                        alert("commitBlockList: " + desc + " " + err);
                    }
                });
            }

            function pad(number, length) {
                var str = '' + number;
                while (str.length < length) {
                    str = '0' + str;
                }
                return str;
            }

            function guid() {
                return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

            function renderThumbnails() {
                console.log("Rendering thumbnails ...");
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RenderThumbnails", "Json", new { eventId = Model.SasToken.EventId})"
                }).done(function () {
                    console.log("Thumbnails rendered.");
                    setTimeout(loadPictures, 1000);
                }).fail(function (e) {
                    console.log("Thumbnails failed", e);
                }).then(function () {
                    $("#file").val("").show();
                    $("progress").attr("value", 0).hide();
                });
            }
        });
    </script>
}